*{
  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
  box-sizing: border-box;
}
%__select-form{
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #222;
  font-size: 16px;
  height: 48px;
}
#parent{
  @extend %__select-form;
}
#child{
  @extend %__select-form;
}
#item_category_id{
  @extend %__select-form;
}
.button{
  transition: 0.2s;
  display: block;
  border-radius: 5px;
  background-color: #f5f5f5;
  width: 300px;
  font-size: 17px;
  height: 48px;
  text-decoration:none;
  line-height: 48px;
  color: #222;
}